<h1>Videos</h1>
<%= link_to 'Options', '/options' %>

<h3>Youtube</h3>
<ul>
  <li>
    <h5>youtube.com/watch?v=CODE</h5>
    <%= embed("https://www.youtube.com/watch?v=_mwcreHuqNA").html_safe %>
  </li>

  <li>
    <h5>youtu.be/CODE</h5>
    <%= embed("https://youtu.be/_mwcreHuqNA").html_safe %>
  </li>

  <li>
    <h5>youtu.be/CODE?some=param</h5>
    <%= embed("https://youtu.be/_mwcreHuqNA?some=param").html_safe %>
  </li>

  <li>
    <h5>youtube.com/embed/CODE</h5>
    <%= embed("https://youtube.com/embed/_mwcreHuqNA").html_safe %>
  </li>
</ul>

<h3>Vimeo</h3>
<ul>
  <li>
    <h5>vimeo.com/CODE</h5>
    <%= embed("https://vimeo.com/167414855").html_safe %>
  </li>

  <li>
    <h5>vimeo.com/CODE?some=param</h5>
    <%= embed("https://vimeo.com/167414855?some=param").html_safe %>
  </li>

  <li>
    <h5>player.vimeo.com/video/CODE</h5>
    <%= embed("https://player.vimeo.com/video/167414855").html_safe %>
  </li>

  <li>
    <h5>vimeo.com/channels/channel-name/CODE</h5>
    <%= embed("https://vimeo.com/channels/channel-name/167414855").html_safe %>
  </li>

  <li>
    <h5>vimeo.com/groups/group-name/CODE</h5>
    <%= embed("https://vimeo.com/groups/group-name/167414855").html_safe %>
  </li>

  <li>
    <h5>vimeo.com/album/9999/video/CODE</h5>
    <%= embed("https://vimeo.com/album/9999/video/167414855").html_safe %>
  </li>
</ul>

<h1>Podcasts</h1>

<h3>Soundcloud</h3>

<ul>
  <li>
    <h5>soundcloud.com/username/CODE</h5>
    <%= embed("https://soundcloud.com/liluzivert/money-longer-radio-rip").html_safe %>
  </li>
</ul>
