<h1>Youtube</h1>

<ul>
  <li>
    <h5>options - height: "50px", width: "50px"</h5>
    produces:
    <%= embed("https://www.youtube.com/watch?v=_mwcreHuqNA", height: "50px", width: "50px") %>
    <br>
    <%= embed("https://www.youtube.com/watch?v=_mwcreHuqNA", height: "50px", width: "50px").html_safe %>
  </li>

  <li>
    <h5>options - height: "500px", width: "500px"</h5>
    produces:
    <%= embed("https://www.youtube.com/watch?v=_mwcreHuqNA", height: "500px", width: "500px") %>
    <br>
    <%= embed("https://www.youtube.com/watch?v=_mwcreHuqNA", height: "500px", width: "500px").html_safe %>
  </li>
</ul>

<h1>Vimeo</h1>

<ul>
  <li>
    <h5>options - height: "50px", width: "50px"</h5>
    produces:
    <%= embed("https://vimeo.com/146224925", height: "50px", width: "50px") %>
    <br>
    <%= embed("https://vimeo.com/146224925", height: "50px", width: "50px").html_safe %>
  </li>

  <li>
    <h5>options - height: "500px", width: "500px"</h5>
    produces:
    <%= embed("https://vimeo.com/146224925", height: "500px", width: "500px") %>
    <br>
    <%= embed("https://vimeo.com/146224925", height: "500px", width: "500px").html_safe %>
  </li>
</ul>
